* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #07e0e0;
    position: relative;
    z-index: 2;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;
    cursor: pointer;
}

.menu-icon span {
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
}

.search-bar {
    flex-grow: 1;
    margin: 0 10px;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

main {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    background-color: #e0e0e0; /* Цвет фона при наведении */
    color: #379683; /* Цвет текста при наведении */
}

.card {
    display: flex;
    height: 164px;
    background-color: #07e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.image-placeholder {
    width: 150px;
    height: 100%;
    background-color: white;
    border-right: 1px solid #fff;
}

.details {
    padding: 10px;
    flex-grow: 1;
}

.details h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.details p {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.rating {
    display: flex;
}

.star {
    color: #ffcc00;
    font-size: 18px;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #07e0e0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar.active {
    left: 0;
}

.sidebar-content {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    width: 213.2px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-function {
    text-align: left;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    display: flex;
}

.sidebar-content h2 {
    margin-bottom: 10px;
}

.sidebar-content img {
    width: 100%;
    height: 80px; /* Устанавливаем фиксированную высоту для изображения */
    object-fit: cover; /* Обрезаем изображение, чтобы оно заполняло блок */
}

.quantity-control {
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 25px;
    justify-content: flex-end;
}

.quantity-control button {
    background-color: #07e0e0;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-control input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0 5px;
}

.add-to-cart-btn {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

